header
  .overlay
    .container
      h2 Add New Issue
      
      form#addIssueForm
        .form-group
          label.invalid-message(for="issueDescriptionInput") Description
          input#issueDescriptionInput(type="text" placeholder="Enter here...")
        .form-group
          label.invalid-message#issueSeverityInputLabel(for="issueSeverityInput") Severity
          select#issueSeverityInput
            option(value="low" selected) Low
            option(value="medium") Medium 
            option(value="high") High 
        .form-group
          label(for="issueAssignedToInput") Assigned To
          input#issueAssignedToInput.form-input(type="text" placeholder="Enter here...")
        .form-group
          input#issueSubmit.btn(role="button" type="submit" value="Add")
