meta(charset='UTF-8')
meta(name='viewport', content='width=device-width, initial-scale=1.0')
meta(http-equiv='X-UA-Compatible', content='ie=edge')

//- Fonts
link(href="https://fonts.googleapis.com/css?family=Oswald:400,500,700" rel="stylesheet")
link(href="https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,400i,700" rel="stylesheet")
  
//- Custom Styles
link(rel='stylesheet', href='assets/css/styles.css')


title Issue Tracker

//- Cross Platform JS
<!--[if lt IE 9]>
	<script src="assets/js/html5shiv.js"></script>
	<script src="assets/js/selectivizr.js"></script>
	<script src="assets/js/respond.js"></script>
<![endif]-->
