section#listSection
  .container
    .row
      .link
        a.link(href="print.html" target="_blank") Click For Issues List Only
      form#sortForm
        .form-group
          label(for="sortIssueList") Sort By Severity : 
          select#sortIssueList
            option(value="hide") Select
            option(value="ascending") Ascending 
            option(value="descending") Descending 
    #issueListOutput
      .row
        .welcome-message
          .content
            h1 Welcome !
            h3 Yeah! No Issues Found!
            .quote
              p.heading Today's Quote
              p.quote#--js-random-quote 
              p.author#--js-random-quote-author
      //- .issue
      //-   p.issue_id <span>Issue Id :</span> e1884be8-1185-5cb0-a03b-45152260dd88
      //-   p.issue_status Open
      //-   h3.issue_heading Description
      //-   p.issue_severity <span>Severity :</span> Low
      //-   p.issue_assigned <span>Assigned To :</span> Harsh
      //-   a.card-btn.card-btn-primary(href="#") Close
      //-   a.card-btn.card-btn-secondary(href="#") Delete
