//- Meta Tags
meta(charset='UTF-8')
meta(name='viewport', content='width=device-width, initial-scale=1.0')
meta(http-equiv='X-UA-Compatible', content='ie=edge')

//- Fonts
link(href="https://fonts.googleapis.com/css?family=Oswald:400,500,700" rel="stylesheet")
link(href="https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,400i,700" rel="stylesheet")
  
//- StyleSheets
link(rel='stylesheet', href='./scss/main.sass')