header
  .overlay
    .container
      h2 Add New Issue
      
      form#addIssueForm(action="")
        .form-group
          label.invalid-message(for="issueDescriptionInput") Description
          input#issueDescriptionInput(type="text" placeholder="Enter here..." name="description")
        .form-group
          label.invalid-message(for="issueSeverityInput") Severity
          select#issueSeverityInput(name="severity")
            option(value="low" selected) Low
            option(value="medium") Medium 
            option(value="high") High 
        .form-group
          label(for="issueAssignedToInput") Assigned To
          input#issueAssignedToInput.form-input(type="text" placeholder="Enter here..." name="assignedTo")
        .form-group
          input#issueSubmit.btn(type="submit" value="Add")
