nav
  .container
    .brand
      .logo
        //- Logo
        include icons/logo.html
      p Issue Tracker
    
    //- Search Form
    form#searchForm
      label(for="searchInput") Search :
      input#searchInput(type="text" placeholder="Search here...")
      select#searchOptionInput
        option(value="hide") Select
        option(value="id") ID
        option(value="assignedTo") Assigned To 
