doctype html
html(lang='en')
  head
    include includes/head.pug
    title Issue Tracker
    
  body
        
    include includes/nav.pug
    include includes/header.pug
    include includes/listSection.pug
    
    include includes/helpers/modal.pug
    
    include includes/helpers/issueCard-template.pug
    script(src='assets/js/vendors.js')
    script(src='assets/js/app.js')
    script(src='assets/js/index.js')
