section#listSection.printPageListSection
  .container
    .row
      form#printPageSortForm
        .form-group
          label(for="sortIssueList") Sort By ID : 
          select#sortIssueListById
            option(value="hide") Select
            option(value="ascending") Ascending 
            option(value="descending") Descending 
        .form-group
          label(for="sortIssueList") Sort By Severity : 
          select#sortIssueListBySeverity
            option(value="hide") Select
            option(value="ascending") Ascending 
            option(value="descending") Descending 
        .form-group
          label(for="sortIssueList") Sort By Severity : 
          select#sortIssueListByAssigned
            option(value="hide") Select
            option(value="ascending") Ascending 
            option(value="descending") Descending 
    .row#issueListOutput
      table#issueTable
        tr
          th Id
          th Status
          th Description
          th Severity
          th Assigned To
        tr
          td e1884be8-1185-5cb0-a03b-45152260dd88
          td Open
          td Description
          td High
          td Harsh
