.table-row
  overflow-x: auto
  
#issueTable
  width: 100%
  border-collapse: collapse
  tr
    text-align: center
    height: 40px
    transition: all 0.2s ease
    cursor: default
    @media (max-width: 768px)
      transition: none
    &:first-of-type
      font-weight: $base-bold-weight
      background-color: $teritary-color
      color: $white-color

    &:not(:first-of-type):hover
      transform: scale(1.005)
      box-shadow: $base-shadow
      z-index: 22
      @media (max-width: 768px)
        transform: none
        box-shadow: none


    &:nth-of-type(even)
      background-color: $bg-color
    td,
    th
      padding: 10px
      @media (max-width: 768px)
        padding: 10px 5px
      @media (max-width: 425px)
        &:first-of-type
          display: none
      &:nth-of-type(3)
        max-width: 33.33%
        width: 40%
        @media (max-width: 768px)
          max-width: none
          width: auto
