#modalContainer
  .modal
    .modal-header
      .cross-icon
        a.modal-close-btn(role="button" href="")
          |
          include ../icons/cross.html
    .modal-body
      .logo
        include ../icons/logo.html
      h2 No Issue Found
      p.kicker Please Add issue before Search
  .overlay
