#trailer
  .modal-dialog
    max-width: 80vw

  .modal-content
    border-radius: 0
  .modal-header
    border-radius: 0
    background-color: $footer-color
    color: $white-color
    height: 2rem
    padding: 0 1rem
    border-bottom: none

  .modal-title
    font-size: 1rem
    line-height: 2rem
    letter-spacing: 1px
    font-weight: normal

  .close
    color: $white-color
    font-weight: normal
    padding: 0
    margin: auto 0
    height: 0.75rem
    width: 0.75rem
    margin-top: 2px
    opacity: 1
    &:hover
      opacity: 0.8
    svg
      path
        fill: $white-color!important

  .modal-body
    padding: 0
    background-color: transparent
    max-height: 75vh
    max-width: 80vw
    overflow: hidden
    iframe
      height: auto
      min-height: 50vh
      height: 75vh
      min-width: 60vw
      width: 80vw
      border: none
