doctype html
html(lang='en')
  head
    //- Including the header
    include includes/head.pug

    title Issue Tracker
    
  body

    //- Navigation 
    include includes/nav.pug

    //- Header 
    include includes/header.pug

    //- List Section 
    include includes/listSection.pug
    
    //- Modal 
    include includes/helpers/modal.pug
    
    //- Issue Card Template 
    include includes/helpers/issueCard-template.pug
    
    //- Vendor JavaScript Files
    <!--[if IE 8]>
      <script src="./vendor.js"></script>
    <![endif]-->

    //- JavaScript Files
    script(src='./index.js')