doctype html
html(lang='en')
  head
    //- Head
    include includes/head.pug
    title Issue Tracker | Print
    
  body
    
    //- Header
    include includes/pages/print/header.pug

    //- List Section
    include includes/pages/print/listSection.pug
    
    //- Print Page Template
    include includes/helpers/issue-list-print-page-template.pug
    
    //- Vendor JavaScript Files
    <!--[if IE 8]>
      <script src="./vendor.js"></script>
    <![endif]-->

    //- JavaScript Files
    script(src='./index.js')
